body {
    background-color:coral;
}

.input > label {
            display: inline-block;
            width: 20em;
            padding: 0.5em;
            
        }
.input > input[type="text"] {
            margin: 0.5em;
            padding: 0.5em;
            
        }
.input2 > label {
            display: inline-block;
            width: 20em;
            padding: 0.5em;
            
        }
.input2 > input[type="text"] {
            margin: 0.5em;
            padding: 0.5em;
        }

.box {
    text-align:center;
    
}


